.Button {
    background-color: rgb(198, 167, 132);
    transition: all 0.2s ease-out;
    color: #3d1c17;
    border: 1px solid #3d1c17;
    border-radius: 3px;
    font-family: Baskerville Old Face;
    font-size: 20px;
    height: 50%;
    width: 20%;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:hover {
    background-color: rgba(215, 167, 105, 0.151);
    transition: all 0.2s ease-out;
}

.Button:active {
    background-color: rgba(215, 167, 105, 0.151);
}

.Button:disabled {
    background-color: #a3a3a3;
    color: #525252;
}

.OrderButton {
    width: 200px;
}

.DiscountButton {
    color: black;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.AddExtrasButton {
    width: 150px;
}

.Extras:hover {
    background-color: #3d1c17;
    color: white;
}

.Favorite {
    width: 100%;
    height: 50px;
    margin-top: 4%;
}