.Toggle {
    display: flex;
    justify-content: space-between;
}

.Button {
    background-color:  rgb(198, 167, 132);
    border: none;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    font-size: 14px;
}

.Button:hover {
    background-color: #3d1c17;
    color: white;
}