.OrderSelections {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 400px;
}

.ButtonOutside {
    width: 100px;
}

.AddOns {
    padding-left: 40px;
    text-transform: capitalize;
}