.Register {
    padding: 20px;
}

.Form {
    margin-bottom: 20px;
}

label {
    position: relative;
    text-align: left;
    font-size: 30px;
}

input {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
}

.Error {
    color: red;
}