.Layout {
    z-index: 100;
    position: relative;
    top: 0px;
}

.bg-image img {
    opacity: 0.1;
    scale: 1.4 1.4;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}