.PieGraph {
    font-family: Poppins, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
    align-items: center;
    display: inline-block;
}
