.NavigationItem {
    margin: 10px 0px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    color: #3d1c17;
    padding: 5px;
    text-align: center;
    font-family: Baskerville Old Face;
    align-items: center;
}

.NavigationItem a {
    color: black;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: rgb(215, 167, 105);
    transition: all 0.2s ease-out;
}

