.Selected {
    display: flex;
    justify-content: space-between;
}

.Orders {
    margin: 0 20px;
    width: 70%;
}

.Total {
    margin: 0 20px;
    width: 30%;
    text-align: right;
}

.Favorite {
    margin-top: 50px;
    min-width: 200px;
}

@media (max-width: 600px) {
    .OrderSelections {
        width: 130%
    }
}

@media (max-width: 700px) {

    .Total {
        width: 30%;
    }
}

