.Button {
    position: fixed;
    background-color: rgb(198, 167, 132);
    transition: all 0.2s ease-out;
    color: #3d1c17;
    border: 1px solid #3d1c17;
    border-radius: 3px;
    font-family: Baskerville Old Face;
    height: 5%;
    width: 20%;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:hover {
    background-color: rgba(215, 167, 105, 0.151);
    transition: all 0.2s ease-out;
}

.Database {
    float: right;
    display: block;
    box-sizing: border-box;
    margin: 0 20px;
}

.Database:disabled {
    display: none;
}

.Transaction {
    width: 100%;
}

.Home {
    padding: 5px 30px;
}

.Home:disabled {
    visibility: hidden;
}

.Mapper {
    padding: 10px;
}

.Editor {
    margin: 10px 20px;
}

.CategoryEdit {
    margin: 0;
}
